/*
possible colour variants;
#e9f7ff
#e7f2f6
#F3F8FB
#d5e3ec
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(6rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 3rem;
    font-size: 2rem; }

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #e9f7ff; }

.u-margin-top-small {
  margin-top: 2rem; }

.sidebar {
  background-color: #f6f4f3;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end; }

.header {
  background-color: #f1efed;
  grid-column: full-start / full-end; }

.about {
  background-color: #c69963;
  grid-column: content-start / content-end; }

.skills {
  background-color: #fcde7c;
  grid-column: content-start / content-end; }

.projects {
  background-color: #f3b9ff;
  grid-column: full-start / full-end; }

.contact {
  background-color: yellowgreen;
  grid-column: content-start / content-end; }

.footer {
  background-color: #84a3ff;
  grid-column: full-start / full-end; }
