/*
possible colour variants;
#e9f7ff
#e7f2f6
#F3F8FB
#d5e3ec
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(6rem, 1fr) [full-end]; }

::selection {
  background-color: #292a2d;
  color: white; }

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: whitesmoke; }

.heading--1 {
  font-size: 8rem;
  font-weight: 400;
  text-shadow: 2px 2px 6px gray;
  color: rgba(41, 42, 45, 0.85); }

.heading--2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: rgba(41, 42, 45, 0.85); }

.heading--3 {
  font-size: 2.4rem;
  font-weight: 300;
  color: rgba(41, 42, 45, 0.85); }

.heading--4 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #a9a9b3;
  text-align: center;
  text-shadow: 1px 1px 16px gray; }

.heading--5 {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(41, 42, 45, 0.85); }

.intro > span {
  color: rgba(58, 59, 64, 0.85);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px 8px gray; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: -3rem; }

.u-margin-bottom-very-small {
  margin-bottom: 1rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.sidebar {
  background-color: transparent;
  padding: 1.5rem 0;
  z-index: 15;
  width: 6rem;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sidebar__icon {
    width: 100%;
    height: 2.75rem;
    fill: #3a3b40;
    transition: all 0.4s;
    backface-visibility: hidden;
    position: relative; }
    .sidebar__icon--profile {
      height: 2.5rem;
      position: relative; }
    .sidebar__icon--mail {
      height: 3rem;
      margin-top: -0.5rem; }
    .sidebar__icon--github {
      height: 2.5rem; }
    .sidebar__icon--linkedin {
      height: 2.5rem; }
    .sidebar__icon:active {
      transform: scale(1.1) translateY(2px); }
    .sidebar__icon:focus {
      outline: none; }
  .sidebar__main-container {
    display: flex;
    flex-direction: column; }
  .sidebar__sub-container {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    transform: translateY(-3rem); }
    .sidebar__sub-container--icon:hover {
      fill: black;
      transform: scale(1.1); }
  .sidebar__info {
    position: relative;
    transition: all 0.8s;
    display: flex; }
    .sidebar__info--text {
      position: absolute;
      bottom: 0;
      transform: translateX(-0.5rem) translateY(-1.5rem);
      width: 100%;
      text-shadow: 1px 1px 4px white;
      text-align: center;
      font-size: 1.4rem;
      opacity: 0; }
    .sidebar__info:hover .sidebar__info--icon {
      opacity: 0; }
    .sidebar__info:hover .sidebar__info--text {
      opacity: 1; }

a {
  padding: 0.5rem;
  text-decoration: none;
  color: #292a2d; }

.header {
  background-color: #f1efed;
  grid-column: full-start / full-end;
  position: relative;
  background-image: url(../resources/snow-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .header__icon-container {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 50;
    top: 2rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; }
  .header__icon {
    width: 3.5rem;
    height: 3.5rem; }
  .header__arrow {
    position: absolute;
    z-index: 50;
    bottom: 5%;
    left: 48.5%;
    fill: #3b3d41;
    width: 4.5rem;
    height: 4.5rem;
    transition: fill 0.4s;
    animation: up-down 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    backface-visibility: hidden; }
    .header__arrow:hover {
      fill: black; }

.span-first {
  margin-left: 0.5rem;
  position: relative; }

.span-second {
  width: 100%; }

.letter-highlight {
  color: #efecea;
  text-shadow: 2px 2px 20px whitesmoke; }
  .letter-highlight-dot {
    text-shadow: 2px 1px 8px whitesmoke; }

@keyframes up-down {
  0% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(-1rem); } }

.about {
  background-color: transparent;
  grid-column: content-start / content-end;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about .heading--2 {
    position: relative;
    margin-bottom: 6rem; }
    .about .heading--2::after {
      content: "";
      bottom: 0;
      left: -2px;
      width: 16rem;
      height: 3rem;
      position: absolute;
      background-color: #e0eaf1;
      box-shadow: 0px 0px 10px #c1d5e2;
      border-radius: 3px;
      z-index: -1; }
  .about > p {
    width: 50%;
    font-size: 1.8rem; }

.skills {
  background: linear-gradient(whitesmoke, #d8e9f3);
  grid-column: full-start / full-end;
  text-align: center;
  padding: 4rem;
  z-index: -2;
  margin-top: 4rem; }
  .skills .heading--2 {
    position: relative;
    display: inline-block; }
    .skills .heading--2::after {
      content: "";
      bottom: 0;
      left: -2px;
      width: 12rem;
      height: 3rem;
      position: absolute;
      background-color: #e0eaf1;
      box-shadow: 0px 0px 10px #c1d5e2;
      border-radius: 3px;
      z-index: -1; }
  .skills__whole {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .skills__container {
    padding: 3rem;
    background-color: none;
    border-radius: 1rem;
    width: 65vw; }
    .skills__container:not(:last-child) {
      margin-bottom: 2rem; }
  .skills__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .skills__details {
    list-style: none;
    padding: 2rem;
    width: 10rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills__details--icon {
      width: 7rem;
      height: 7rem; }
    .skills__details--text {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: #292a2d; }

.projects {
  background-color: #d8e9f3;
  grid-column: full-start / full-end;
  z-index: 1;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .projects-container {
    background-color: transparent;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 7rem; }
    .projects-container--project-1 {
      margin-top: 5rem; }
    .projects-container__pictures {
      background-color: whitesmoke;
      width: 60rem;
      height: 50rem;
      border-radius: 5px; }
      .projects-container__pictures-1, .projects-container__pictures-2, .projects-container__pictures-3, .projects-container__pictures-4 {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover; }
      .projects-container__pictures-1 {
        background-image: url(/resources/project-weather.png); }
      .projects-container__pictures-2 {
        background-image: url(/resources/project-sujoku.png); }
      .projects-container__pictures-3 {
        background-image: url(/resources/project-othello.png); }
      .projects-container__pictures-4 {
        background-image: url(/resources/project-face.png); }
    .projects-container__info {
      background-color: #292a2d;
      border: 1px solid black;
      height: 35rem;
      width: 45%;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px; }
      .projects-container__info > * {
        margin-top: 2rem; }
      .projects-container__info .heading--3 {
        box-shadow: inset 0 -1.2rem 0 rgba(216, 233, 243, 0.2);
        font-size: 2.6rem;
        color: #e6e6f0; }
      .projects-container__info .heading--5 {
        color: #e6e6f0; }
      .projects-container__info--skills {
        margin-top: 2.5rem;
        display: flex;
        width: 100%;
        justify-content: center; }
        .projects-container__info--skills-item {
          list-style: none;
          padding: 0.5rem 1rem;
          color: #292a2d;
          background-color: #e6e6f0;
          border-radius: 2px; }
          .projects-container__info--skills-item:not(:last-child) {
            margin-right: 2rem; }
      .projects-container__info--links {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3.5rem; }
        .projects-container__info--links-link-btn {
          background-color: #e6e6f0;
          border: none;
          margin: 0 2rem;
          text-transform: uppercase;
          font-weight: 400;
          color: #292a2d;
          padding: 0.5rem 1.5rem;
          list-style: none;
          cursor: pointer;
          box-shadow: 5px 5px 0 #c8e0ee;
          position: relative;
          top: 0;
          left: 0;
          transition: all 0.4s; }
          .projects-container__info--links-link-btn:hover {
            transform: translate(5px, 5px);
            box-shadow: 0px 0px 0 #c8e0ee;
            background-color: #c8e0ee; }
          .projects-container__info--links-link-btn:active {
            transform: translate(5px, 8px);
            box-shadow: 0px 0px 0 #c8e0ee; }
  .projects .heading--2 {
    position: relative; }
    .projects .heading--2::after {
      content: "";
      bottom: 0;
      left: -2px;
      width: 20rem;
      height: 3rem;
      position: absolute;
      background-color: #f8fbfc;
      box-shadow: 0px 0px 10px #fcfcfc;
      border-radius: 3px;
      z-index: -1; }

.contact {
  background: linear-gradient(to top, whitesmoke, #d8e9f3);
  grid-column: full-start / full-end;
  z-index: 10; }
  .contact__container {
    display: flex;
    justify-content: center;
    padding: 12rem 6rem; }
  .contact__text, .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
  .contact__text {
    align-items: center;
    margin-left: 2rem; }
    .contact__text .heading--2 {
      position: relative;
      margin-right: 16rem;
      margin-top: -1rem; }
      .contact__text .heading--2::after {
        content: "";
        bottom: 0;
        left: -2px;
        width: 19rem;
        height: 3rem;
        position: absolute;
        background-color: #f8fbfc;
        box-shadow: 0px 0px 10px #fcfcfc;
        border-radius: 3px;
        z-index: -1; }
    .contact__text > p {
      margin-top: 2rem;
      width: 55%;
      font-size: 1.7rem; }
    .contact__text span {
      box-shadow: inset 0 -10px 0 white;
      transition: all 0.4s; }
      .contact__text span:hover {
        box-shadow: inset 0 -20px 0 white; }
  .contact__list {
    display: flex;
    list-style: none;
    margin-top: 3rem; }
    .contact__list > li {
      margin-right: 4rem; }
    .contact__list--icon {
      width: 3.5rem;
      height: 3.5rem;
      transition: all 0.4s; }
      .contact__list--icon:hover {
        transform: translateY(-2px); }
  .contact__form {
    margin-right: 10rem; }
    .contact__form--input {
      padding: 1.5rem;
      font-size: 1.6rem;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      border-radius: 5px;
      border: 1px solid gray;
      width: 100%; }
    .contact__form--label {
      visibility: hidden; }
    .contact__form--submit {
      padding: 1rem 2rem;
      display: block;
      font-size: 1.6rem;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      border-radius: 5px;
      margin-top: 2rem;
      color: #6d6d6d;
      background-color: white;
      border: 1px solid gray;
      cursor: pointer;
      transition: all 0.4s; }
      .contact__form--submit:hover {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        transform: scale(1.025); }

.footer {
  background-color: #292a2d;
  grid-column: full-start / full-end;
  padding: 1.5rem 0;
  border-top: 1px solid whitesmoke; }
