/*
possible colour variants;
#e9f7ff
#e7f2f6
#F3F8FB
#d5e3ec
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(6rem, 1fr) [full-end]; }

::selection {
  background-color: #292a2d;
  color: white; }

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: #e9f7ff; }

.heading--1 {
  font-size: 8rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px gray;
  color: rgba(41, 42, 45, 0.85);
  z-index: 80; }

.intro > span {
  color: rgba(58, 59, 64, 0.85);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px 8px gray; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 10rem; }

.sidebar {
  padding: 1.5rem 0;
  z-index: 1;
  width: 6rem;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sidebar__main-container {
    display: flex;
    flex-direction: column; }
  .sidebar__sub-container {
    display: flex;
    flex-direction: column; }
  .sidebar__icon {
    width: 100%;
    height: 2.75rem;
    fill: #3a3b40;
    transition: all 0.4s; }
    .sidebar__icon--profile {
      height: 2.5rem; }
    .sidebar__icon--mail {
      height: 3rem;
      margin-top: -0.5rem; }
    .sidebar__icon--github {
      height: 2.5rem; }
    .sidebar__icon:hover {
      fill: black;
      transform: scale(1.1); }
    .sidebar__icon:active {
      transform: scale(1.1) translateY(2px); }
    .sidebar__icon:focus {
      outline: none; }

a {
  padding: 0.5rem; }

.header {
  background-color: #f1efed;
  grid-column: full-start / full-end;
  position: relative;
  background-image: url(../resources/snow-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .header__icon-container {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 50;
    top: 2rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; }
  .header__icon {
    width: 3.5rem;
    height: 3.5rem; }
  .header__arrow {
    position: absolute;
    z-index: 50;
    bottom: 5%;
    left: 47.5%;
    fill: #3b3d41;
    width: 4.5rem;
    height: 4.5rem;
    transition: fill 0.4s;
    animation: up-down 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite; }
    .header__arrow:hover {
      fill: black; }

.span-first {
  margin-left: 0.5rem;
  position: relative; }

.span-second {
  width: 100%; }

.letter-highlight {
  color: #efecea;
  text-shadow: 2px 2px 20px whitesmoke; }
  .letter-highlight-dot {
    text-shadow: 2px 1px 8px whitesmoke; }

@keyframes up-down {
  0% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translateY(-1rem); } }

.about {
  background-color: #c69963;
  grid-column: content-start / content-end; }

.skills {
  background-color: #fcde7c;
  grid-column: content-start / content-end; }

.projects {
  background-color: #f3b9ff;
  grid-column: full-start / full-end; }

.contact {
  background-color: yellowgreen;
  grid-column: content-start / content-end; }

.footer {
  background-color: #84a3ff;
  grid-column: full-start / full-end; }
