$color-primary: #abcde9;
$color-primary-light: #abcde9;
$color-primary-two: #d47ae6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;
