$color-primary: #f6f4f3;
$color-primary-light: #f8f7f6;
$color-primary-dark-1: #f1efed;
$color-primary-dark-2: #efecea;

$color-almost-white: #f3f8fb;
$color-almost-black: #292a2d;

$color-yellow: #fcde7c;
$color-pink: #f3b9ff;

$color-white: #fff;
$color-black: #000;

$color-default-text: rgba(41, 42, 45, 0.85);

//font
$default-font-size: 1.6rem;

/*
possible colour variants;
#e9f7ff
#e7f2f6
#F3F8FB
#d5e3ec
*/

$test-1: #e9f7ff;
