.about {
  background-color: transparent;
  grid-column: content-start / content-end;
  padding: 8rem 2rem;

  @media only screen and (max-width: $bp-large) {
    padding: 8rem 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 8rem 2rem;
  }

  & .heading--2 {
    position: relative;
    display: inline-block;

    &::after {
      @include style-after-element(
        16rem,
        3rem,
        darken($color-background-2, 7%),
        darken($color-background-2, 10%)
      );
      @media only screen and (max-width: $bp-largest) {
        @include style-after-element(
          18.5rem,
          3rem,
          darken($color-background-2, 7%),
          darken($color-background-2, 10%)
        );
      }
    }
  }

  .about-container {
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: $bp-large) {
      align-items: center;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &--text {
      & > p {
        width: 100%;
        font-size: 1.8rem;
        margin-top: 2rem;

        @media only screen and (max-width: $bp-largest) {
          font-size: 2rem;
        }

        @media only screen and (max-width: $bp-large) {
          font-size: 2rem;
        }
      }
      width: 50vw;

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        & > p {
          font-size: 2rem;
        }
      }
      @media only screen and (max-width: $bp-small) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    margin-bottom: 2rem;

    &--pictures {
      margin-left: 2rem;
      background-color: transparent;
      height: 100%;
      width: 50%;
      display: flex;
      align-items: flex-start;
      transition: all 0.4s;
      margin-top: 2rem;

      @media only screen and (max-width: $bp-large) {
        margin-top: -4rem;
        margin-left: 1rem;
      }

      @media only screen and (max-width: $bp-medium) {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;
        margin-left: 0;
      }

      & > * {
        border: 3px solid rgb(216, 233, 243);
        border-radius: 2px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 18rem;
        height: 18rem;

        @media only screen and (max-width: $bp-medium) {
          width: 16rem;
          height: 16rem;
        }

        &:hover {
          z-index: 3000;
          transform: scale(1.1);
        }
      }

      &-picture-1 {
        background-image: url(/resources/snowboard.jpg);
        position: absolute;

        @media only screen and (max-width: $bp-medium) {
          position: relative;
        }
      }

      &-picture-2 {
        background-image: url(/resources/ball.jpg);
        position: relative;
        top: 2rem;
        left: 16rem;

        @media only screen and (max-width: $bp-largest) {
          left: 12rem;
          top: 4rem;
        }

        @media only screen and (max-width: $bp-medium) {
          left: 0;
          top: 0;
          margin-left: 4rem;
          margin-right: 4rem;
        }
      }

      &-picture-3 {
        background-image: url(/resources/code.jpg);
        background-position: right;
        position: relative;
        top: 4rem;
        left: 12rem;

        @media only screen and (max-width: $bp-largest) {
          left: 6rem;
          top: 8rem;
        }

        @media only screen and (max-width: $bp-medium) {
          left: 0;
          top: 0;
        }
      }
    }
  }
}
