.about {
  background-color: transparent;
  grid-column: content-start / content-end;
  padding: 8rem 2rem;

  & .heading--2 {
    position: relative;
    &::after {
      @include style-after-element(
        16rem,
        3rem,
        darken($color-background-2, 7%),
        darken($color-background-2, 10%)
      );
    }
  }

  .about-container {
    display: flex;
    align-items: flex-start;

    &--text {
      & > p {
        width: 100%;
        font-size: 1.8rem;
        margin-top: 2rem;
      }
      width: 50vw;
    }
    margin-bottom: 2rem;

    &--pictures {
      margin-left: 2rem;
      background-color: transparent;
      height: 100%;
      width: 50%;
      display: flex;
      align-items: flex-start;
      transition: all 0.4s;

      & > * {
        border: 3px solid rgb(216, 233, 243);
        border-radius: 2px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 20rem;
        height: 20rem;

        &:hover {
          z-index: 3000;
          transform: scale(1.1);
        }
      }

      &-picture-1 {
        background-image: url(/resources/snowboard.jpg);
        position: absolute;
        margin-top: -2rem;
      }

      &-picture-2 {
        background-image: url(/resources/ball.jpg);
        position: relative;
        top: 2rem;
        left: 16rem;
      }

      &-picture-3 {
        background-image: url(/resources/code.jpg);
        background-position: right;
        position: relative;
        top: 6rem;
        left: 12rem;
      }
    }
  }
}
