// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines what 1 rem represents
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);

  //without initial sidebar column
  grid-template-columns:
    [full-start] minmax(min-content, 1fr)
    [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [content-end] minmax(min-content, 1fr) [full-end];
}

::selection {
  background-color: $color-almost-black;
  color: white;
}
