.contact {

  background: darken($color-light-purple, 3%);
  padding: 2rem 0rem; //4rem 0rem;

  grid-column: full-start / full-end;
  z-index: 10;
  color: $color-almost-black;
  color: white;
  font-weight: 500;

  // whole
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 6rem;

    @media only screen and (max-width: $bp-large) {
      padding: 8rem 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      margin-left: 0rem;
    }
  }

  &__text,
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 8px $color-almost-black;
    position: relative;
    padding: 0;
    display: inline-block;
  }

  // text / left side
  &__text {
    align-items: center;
    margin-right: 0;

    @media only screen and (max-width: $bp-medium) {
      margin-left: 0;
    }

    &>p {
      margin-top: 2rem;
      width: 80%;
      font-size: 2.4rem;
      font-weight: 300;

      text-align: center;

      @media only screen and (max-width: $bp-largest) {
        font-size: 2rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 95%;
      }
    }

    & span {
      box-shadow: inset 0 -10px 0 white;
      transition: all 0.4s;

      & a {
        text-decoration: none;
        color: $color-almost-black;
      }

      &:hover {
        box-shadow: inset 0 -20px 0 white;
      }
    }
  }

  // icons list
  &__list {
    list-style: none;
    margin-top: 4rem;
    background-color: white;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;

    &__links {
      &--icon {
        width: 3.6rem;
        height: 3.6rem;
        fill: lighten(#434751, 5%);
        transition: 0.3s;
        margin: 0rem 2rem;

        &:hover {
          fill: $color-purple;
        }
      }
    }

    & a {
      text-decoration: none;
    }

    &--item {
      text-transform: lowercase;

      &:not(:last-child) {
        margin-right: 3.2rem;
      }

      & p {
        color: lighten(#434751, 5%);
        transition: 0.3s;

        &:hover {
          color: #7e75ff;
        }
      }
    }
  }
}