.contact {
  background-color: darken($color-background-2, 2%);
  grid-column: full-start / full-end;
  z-index: -2;

  & .heading--2 {
    position: relative;
    display: inline-block;

    &::after {
      @include style-after-element(
        19rem,
        2.5rem,
        darken($color-background-2, 0%),
        white
      );
    }
  }
}
