.contact {
  //   background-color: darken($color-background-2, 2%);
  //   background: linear-gradient(rgb(245, 245, 245), rgb(216, 233, 243));
  background: linear-gradient(to top, rgb(216, 233, 243), rgb(245, 245, 245));

  grid-column: full-start / full-end;
  z-index: 10;

  // whole
  &__container {
    display: flex;
    justify-content: center;
    padding: 8rem 6rem;

    @media only screen and (max-width: $bp-large) {
      padding: 8rem 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      margin-left: 2rem;
    }
  }

  &__text,
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  // text / left side
  &__text {
    align-items: flex-start;
    margin-left: 10rem;
    margin-right: 0;
    @media only screen and (max-width: $bp-medium) {
      margin-left: 0;
    }

    & .heading--2 {
      position: relative;
      margin-right: 16rem;
      margin-top: -1rem;

      &::after {
        @include style-after-element(
          19rem,
          3rem,
          darken($color-background-2, 7%),
          darken($color-background-2, 10%)
        );

        @media only screen and (max-width: $bp-largest) {
          @include style-after-element(
            22rem,
            3rem,
            darken($color-background-2, 7%),
            darken($color-background-2, 10%)
          );
        }
      }
    }

    & > p {
      margin-top: 2rem;
      width: 75%;
      font-size: 1.7rem;

      @media only screen and (max-width: $bp-largest) {
        font-size: 2rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 95%;
      }
    }

    & span {
      box-shadow: inset 0 -10px 0 white;
      transition: all 0.4s;

      &:hover {
        box-shadow: inset 0 -20px 0 white;
      }
    }
  }

  //icons list
  &__list {
    display: flex;
    list-style: none;
    margin-top: 3rem;

    & > li {
      margin-right: 4rem;
    }
    &--icon {
      width: 3.5rem;
      height: 3.5rem;
      transition: all 0.4s;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  // contact form / right side
  &__form {
    margin-right: 10rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 6rem;
    }
    &--input {
      padding: 1.5rem;
      font-size: $default-font-size;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      border-radius: 5px;
      border: 1px solid gray;
      width: 100%;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.8rem;
      }
    }

    textarea {
      height: 15rem;
    }

    &--label {
      visibility: hidden;
    }

    &--submit {
      padding: 1rem 2rem;
      display: block;
      font-size: $default-font-size;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      border-radius: 5px;
      margin-top: 2rem;
      color: darken(lightgray, 40%);
      background-color: white;
      border: 1px solid gray;
      cursor: pointer;
      transition: all 0.4s;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.8rem;
      }

      &:hover {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        transform: scale(1.025);
      }
    }
  }
}
