.header {
  background-color: $color-primary-dark-1;
  grid-column: full-start / full-end;
  position: relative;
  background-image: url(../resources/snow-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  justify-content: center;
  position: relative;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // heading text
    & > span {
      color: lighten($color-default-text, 7%);
      font-size: 3rem;
      font-weight: 300;
      text-shadow: 2px 2px 8px gray;
      width: 100%;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  &__arrow {
    position: absolute;
    z-index: 50;
    bottom: 5%;
    left: 48.5%;
    fill: lighten($color-almost-black, 7.5%);
    width: 4.5rem;
    height: 4.5rem;
    transition: fill 0.4s;
    animation: up-down 1.5s cubic-bezier(0.65, 0, 0.35, 1) infinite;
    backface-visibility: hidden;

    &:hover {
      fill: black;
    }
  }
}

// first line, third line - header text
.span-first {
  margin-left: 0.5rem;
  position: relative;
}

.span-second {
  text-transform: lowercase;
}

// M and period
.letter-highlight {
  color: $color-primary-dark-2;
  text-shadow: 2px 2px 20px whitesmoke;

  &-dot {
    text-shadow: 2px 1px 8px whitesmoke;
  }
}

// for the header button
@keyframes up-down {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}
