.navigation {
  grid-row: -1 / -1;
  opacity: 0;
  pointer-events: none;

  @media only screen and (max-width: $bp-medium) {
    opacity: 1;
    pointer-events: auto;
  }

  &__checkbox {
    position: fixed;
  }

  &__button {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: whitesmoke;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 29500;
    box-shadow: 0 0 0.5rem rgba(black, 0.2);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten(rgb(216, 233, 243), 3%);
    }
  }

  &__nav {
    background-color: transparent;
    position: fixed;
    top: 10rem;
    right: 1.5rem;
    z-index: 29000;

    opacity: 0;
    width: 30rem;
    transition: opacity 0.7s;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      top: 0;
      right: 0;
    }

    // little triangle above nav box
    &::before {
      content: "";
      position: absolute;
      top: -1.5rem;
      right: 2rem;
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-bottom: 1.5rem solid darken(whitesmoke, 7%);
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    text-transform: lowercase;
    margin-bottom: 0;
    text-align: center;
    width: 30rem;
    background-image: linear-gradient(90deg,
        darken(whitesmoke, 7%) 0%,
        darken(whitesmoke, 7%) 50%,
        $color-almost-black 50%);
    background-size: 200%;
    transition: background-position 0.4s;

    & > a {
      text-decoration: none;
    }

    @media only screen and (max-width: $bp-medium) {
      pointer-events: none;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      background-image: none;
      background-color: whitesmoke;
    }

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid gainsboro;
    }

    &:hover,
    &:active {
      background-position: 100%;

      @media only screen and (max-width: $bp-small) {
        background-position: 0%;
      }

      &:active {
        @media only screen and (max-width: $bp-small) {
          background-color: $color-almost-black;
        }
      }
    }


    & a {
      color: $color-almost-black;
      width: 100%;
      padding: 2.6rem;
      transition: color 0.6s 0.2s;

      @media only screen and (max-width: $bp-small) {
        transition: none;
      }

      &:hover,
      &:active {
        color: whitesmoke;

        @media only screen and (max-width: $bp-small) {
          color: $color-almost-black;
        }
      }

      &:active {
        @media only screen and (max-width: $bp-small) {
          color: whitesmoke;
        }
      }
    }
  }

  // opened nav menu
  &__checkbox:checked~&__nav {
    opacity: 1;
    pointer-events: auto;
    width: 30rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__checkbox:checked~&__nav &__item {
    @media only screen and (max-width: $bp-medium) {
      pointer-events: auto;
    }
  }

  // nav menu icon
  &__icon {
    position: relative;
    margin-top: 2.8rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 4px;
      background-color: lighten($color-default-text, 6%);
      display: inline-block;
      border-radius: 2px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.4s;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 0.95rem;
    }
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button {
    @media only screen and (max-width: $bp-small) {
      top: 1rem;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }
}
