.projects {
  // background-color: rgb(248, 239, 234);
  grid-column: full-start / full-end;
  z-index: 1;
  padding: 8rem 2rem;
  margin-bottom: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    padding: 4rem 0;
  }

  &-container {
    background-color: transparent;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 12rem;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-top: 10rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-18rem, 4rem);
        width: 12rem;
        height: 0.3rem;
        background-color: darken(#d6d7e6, 3%);
      }
    }

    &--project-1 {
      margin-top: 5rem;
    }

    &__pictures {
      background-color: whitesmoke;
      width: 60rem;
      height: 50rem;
      border: 1px solid $color-almost-black;

      &:nth-child(2n) {
        @media only screen and (max-width: $bp-large) {
          order: -1;
        }
      }

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 2rem;
        // width: 95vw;
      }

      &-1,
      &-2,
      &-3,
      &-4 {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &-1 {
        background-image: url(/resources/project-weather.png);
      }

      &-2 {
        background-image: url(/resources/project-sujoku.png);
      }

      &-3 {
        background-image: url(/resources/project-othello.png);
      }

      &-4 {
        background-image: url(/resources/project-face.png);
      }
    }

    &__info {
      background-color: $color-almost-black;
      border: 1px solid black;
      height: 35rem;
      width: 50%;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @media only screen and (max-width: $bp-large) {
        padding: 1rem 2rem;
      }

      @media only screen and (max-width: $bp-large) {
        width: 70rem;
        background-color: transparent;
        border: none;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 90vw;
        background-color: transparent;
        border: none;
      }

      @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        height: 100%;
        padding: 2rem 0;
      }

      & .heading--3 {
        box-shadow: inset 0 -1.2rem 0 rgba(216, 233, 243, 0.2);
        font-size: 2.6rem;
        color: lighten(#d6d7e6, 5%);
        margin-bottom: 1rem;
        font-weight: 500;
        letter-spacing: 1px;

        @media only screen and (max-width: $bp-large) {
          font-size: 3rem;
          color: $color-almost-black;
          color: lighten($color-default-text, 6%);
          box-shadow: inset 0 -1.6rem 0 lighten(#d6d7e6, 4%);
        }
      }

      & .heading--5 {
        color: lighten(#d6d7e6, 5%);

        @media only screen and (max-width: $bp-large) {
          font-size: 2rem;
          color: $color-almost-black;
        }
      }

      &--skills {
        margin-top: 2.5rem;
        display: flex;
        width: 100%;
        justify-content: center;

        &-item {
          list-style: none;
          padding: 0.5rem 1rem;
          color: $color-almost-black;
          background-color: lighten(#d6d7e6, 5%);

          @media only screen and (max-width: $bp-large) {
            font-size: 2rem;
            padding: 1rem;
            background-color: lighten(#d6d7e6, 4%);
            color: $color-almost-black;
          }

          &:not(:last-child) {
            margin-right: 2rem;

            @media only screen and (max-width: $bp-large) {
              margin-right: 3rem;
            }

            @media only screen and (max-width: $bp-small) {
              margin-right: 1rem;
            }
          }
        }
      }

      &:nth-child(2n) {
        box-shadow: 10px -10px 0 $color-light-blue;
        margin-left: 0.75rem;
      }

      margin-right: 0.75rem;
      box-shadow: -10px -10px 0 $color-purple-light;

      &:nth-child(2n) {
        @media only screen and (max-width: $bp-large) {
          box-shadow: 8px 8px 0 $color-light-blue;
        }

        @media only screen and (max-width: $bp-smallest) {
          box-shadow: none;
        }
      }

      @media only screen and (max-width: $bp-large) {
        box-shadow: 8px 8px 0 $color-purple-light;
      }

      @media only screen and (max-width: $bp-smallest) {
        box-shadow: none;
      }

      &--links {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;

        &-link-btn {
          background-color: lighten(#d6d7e6, 5%);
          border: none;
          margin: 0 2rem;
          text-transform: uppercase;
          font-weight: 400;
          color: $color-almost-black;
          padding: 0.5rem 1rem;
          list-style: none;
          cursor: pointer;
          box-shadow: 5px 5px 0 $color-purple-light;
          position: relative;
          top: 0;
          left: 0;
          transition: all 0.4s;

          & a {
            text-decoration: none;
            color: $color-black-2;
          }

          @media only screen and (max-width: $bp-large) {
            margin: 0 1rem;
          }

          @media only screen and (max-width: $bp-large) {
            margin: 0 2rem;
            padding: 1rem 1.5rem;
            font-size: 2rem;
            margin-top: 1rem;
            box-shadow: 5px 5px 0 $color-purple-light;
          }

          &:hover {
            transform: translate(5px, 5px);
            background-color: lighten($color-purple-light, 8%);
            box-shadow: 0px 0px 0 $color-purple-light;
          }

          &:active {
            transform: translate(5px, 8px);
          }
        }

        &-link-btn-even {
          box-shadow: -5px 5px 0 $color-light-blue;

          &:hover {
            transform: translate(-5px, 5px);
            box-shadow: 0px 0px 0 $color-light-blue;
            background-color: lighten($color-light-blue, 5%);

            @media only screen and (max-width: $bp-large) {
              transform: translate(5px, 5px);
              background-color: $color-light-blue;
            }
          }

          &:active {
            transform: translate(-5px, 8px);

            @media only screen and (max-width: $bp-large) {
              transform: translate(5px, 8px);
            }
          }

          @media only screen and (max-width: $bp-large) {
            box-shadow: 5px 5px 0 darken(rgb(216, 233, 243), 2%);
          }
        }
      }
    }
  }

  & .heading--2 {
    position: relative;

    &::after {
      @include style-after-element(40rem,
        3rem,
        darken($color-background-2, 7%),
        darken($color-background-2, 10%));

      @media only screen and (max-width: $bp-largest) {
        @include style-after-element(43rem,
          3rem,
          darken($color-background-2, 7%),
          darken($color-background-2, 10%));
      }

      @media only screen and (max-width: $bp-large) {
        @include style-after-element(46rem,
          3rem,
          darken($color-background-2, 7%),
          darken($color-background-2, 10%));
      }
    }
  }
}