.skills {
  background-color: rgba(216, 233, 243, 0.6);

  grid-column: full-start / full-end;

  text-align: center;
  padding: 8rem 12rem;
  z-index: -2;

  @media only screen and (max-width: $bp-medium) {
    padding: 8rem 12rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 8rem 0;
  }

  & .heading--2 {
    position: relative;
    display: inline-block;
    box-shadow: inset 0 -2.5rem 0 white;
  }

  &__whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2rem;
  }

  &__container {
    padding: 3rem 0;
    background-color: none;
    border-radius: 1rem;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__details {
    list-style: none;
    padding: 0 1rem;
    flex: 0 0 14.285%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 25%;
    }

    @media only screen and (max-width: $bp-small) {
      flex: 0 0 33.333333%;
    }

    &--icon {
      width: 7rem;
      height: 7rem;

      @media only screen and (max-width: $bp-largest) {
        width: 8rem;
        height: 8rem;
      }
    }

    &--text {
      margin-top: 1rem;
      font-size: 1.7rem;
      font-weight: 300;
      color: $color-almost-black;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.8rem;
      }

      @media only screen and (max-width: $bp-large) {
        font-size: 1.9rem;
      }
    }
  }
}
