.skills {
  //   background-color: darken($color-background-2, 2%);
  background: linear-gradient(rgb(245, 245, 245), rgb(216, 233, 243));
  //   background: linear-gradient(rgb(245, 245, 245), rgb(207, 223, 233));

  grid-column: full-start / full-end;

  text-align: center;
  padding: 4rem 0;
  z-index: -2;

  & .heading--2 {
    position: relative;
    display: inline-block;

    &::after {
      @include style-after-element(
        12rem,
        3rem,
        darken($color-background-2, 7%),
        darken($color-background-2, 10%)
      );
    }
  }

  &__whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  &__container {
    padding: 3rem;
    background-color: none;
    border-radius: 1rem;
    width: 65vw;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__details {
    list-style: none;
    padding: 1rem;
    width: 10rem;

    &--icon {
      width: 4rem;
      height: 4rem;
    }

    &--text {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-almost-black;
    }
  }
}
