.skills {
  background-color: rgba(216, 233, 243, 0.6);

  grid-column: full-start / full-end;

  text-align: center;
  padding: 8rem 2rem;
  z-index: -2;

  & .heading--2 {
    position: relative;
    display: inline-block;
    box-shadow: inset 0 -2.5rem 0 white;
  }

  &__whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2rem;
  }

  &__container {
    padding: 3rem;
    background-color: none;
    border-radius: 1rem;
    width: 65vw;

    @media only screen and (max-width: $bp-medium) {
      padding: 3rem 0;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__details {
    list-style: none;
    padding: 2rem;
    width: 10rem;
    // margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2rem;

    &--icon {
      width: 7rem;
      height: 7rem;
    }

    &--text {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: $color-almost-black;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1.7rem;
      }
    }
  }
}
