body {
  font-size: $default-font-size;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: $test-1; //change later
}

.heading--1 {
  font-size: 8rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px gray;
  color: $color-default-text;
  z-index: 80;
}

.heading--2 {
}

.heading--3 {
}

// heading text
.intro > span {
  color: lighten($color-default-text, 7%);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px 8px gray;
}
