.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-almost-white, 0.1),
      rgba($color-secondary-light, 0.3)
    ),
    url("../../resources/rsz_forest.png");
  background-size: cover;
  background-position: top;

  &__text-box {
    position: absolute;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -35%);
  }

  &__icon-box {
    // margin-top: -7rem;
    // margin-left: 20rem;
    position: absolute;
    top: 80%;
    left: 25%;
    margin-top: 1rem;
    transform: translate(-60%, -40%);

    li {
      list-style: none;
      display: inline-block;
      margin-left: 3rem;
    }
  }
}
