body {
    background-image: url("resources/rsz_forest.png");
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 15%;
    padding: 20px;
}

a {
    text-decoration: none;
    padding: 15px;
}


h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .13em;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-bottom: 50px;
    font-size: 48px;
    text-shadow: 2px 2px 2px #aaa;
}

.main_container {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    opacity: 0.9;
}

h2 {
    color: rgba(0, 0, 0, 0.6);
}

h3 {
    margin-top: -25px;
    font-size: 22px;
    opacity: 0.8;
}