.btn-resume {
  padding: 1rem;
  border-radius: 0.5rem;
  color: $color-almost-black;
  text-decoration: none;
  display: inline-block;
  width: 10rem;
  text-align: center;
  border: 1px solid $color-almost-black;
  transition: transform 0.5s;

  &:hover {
    background-color: lighten($color-light-grey, 30%);
  }

  &:active {
    transform: translateY(0.4rem);
  }
}
