body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-image: url("../resources/rsz_forest.png");
  background-size: cover;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: grey;
  //padding: 3rem;
}

.heading-primary {
  color: $color-black;
  padding: 4rem;
  //   margin-left: 20rem;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-weight: 800;
    font-size: 6rem;
    text-shadow: 2px 2px 2px #aaa;
    color: rgba($color-black, 0.7);
  }

  &--sub {
    display: block;
    font-size: 2.4rem;

    line-height: 1.2;
    font-weight: 300;

    color: rgba($color-black, 0.6);
  }

  &--small {
    font-size: 2rem;
    font-weight: 300;
    color: rgba($color-black, 0.8);
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
